<h1 class="title">Component Router</h1>
<nav>
    <a [routerLink]="['CrisisCenter']">Crisis Center</a>
    <a [routerLink]="['Heroes']">Heroes</a>
    <a [routerLink]="['Entries']">Entries</a>
    <a [routerLink]="['Months']">Months</a>
    <a [routerLink]="['About']">About</a>
    <button *ngIf="loggedIn()" (click)="logout()">Logout</button>
</nav>
<router-outlet></router-outlet>

<hr>
<div>
    <button *ngIf="!loggedIn()" (click)="login()">Login</button>
    <button *ngIf="loggedIn()" (click)="logout()">Logout</button>

    <button (click)="getThing()">Get Thing</button>
    <button *ngIf="loggedIn()" (click)="tokenSubscription()">Show Token from Observable</button>
    <button (click)="getSecretThing()">Get Secret Thing</button>
    <button *ngIf="loggedIn()" (click)="useJwtHelper()">Use Jwt Helper</button>
</div>